@import 'custom.scss';

body {
  background: url(#{$assetPath}/body-bg-texture.png) repeat;
  font-family: $font-family-base;
}
.template-canvas-small {
  margin: 0 auto;
}
      .header{
        display: flex;
        background: $color-f1f1f1;
        color: $red;
      }
      .header-left-panel{
        width: 70%;
          .headerlogo img{
            width: 62px;
            height: auto;
            padding: 20px 0;
            float: left;
            margin: 0 20px;
          }
      }
      .header-right-panel{
        width: 30%;
        line-height: 60px;
          .glyphicon{
            font-size: 1.429em;
            color: $color-ccc;
            vertical-align: middle;
            width: 50px;
          }
          .customer-dropdown{
            border: 0;
            background-color: transparent !important;
            text-transform: uppercase;
            color: $color-999 !important;
            box-shadow:none !important;
             &:hover{
               background-color: transparent;
               color: $color-999;
             }
            &:active{
              background-color: transparent;
              color: $color-999;
            }
          }
      }

  .offline{
    color: $color-ff6600 !important;
     span {
       color: $color-ff6600 !important;
     }
  }
  .grey{
    color: $color-ccc;
  }
  .blue{
    color: $color-34a6fc;
  }
    .template-shadow-panel{
      background-color: $color-fff;
      box-shadow: 0 0 15px 2px $color-cecece;
    }

.ovrc-home-top-panel{
  background-color: $color-e5e5e5;
  min-height: 82px;
  padding: 15px 10px;
  .panel-list {
    list-style-type: none;
    padding: 0px;
    li {
      float: left;
      border-left: 1px solid $color-b3b3b3;
      position: relative;
      height: 53px;
      padding: 5px 10px;
      &:first-child{
        border-left: none;
      }
      .title{
        color: $color-666;
        font: 2em 'cs_light';
        text-transform: inherit;
      }
    }
    label{
      text-transform: uppercase;
      font:0.7em 'cs_regular';
      color: $color-999;
    }
  }
  i {
    font-size: 2em;
    @extend .blue;
  }
  .show-grid{
    div.width-20{
    border-left: 1px solid $color-b3b3b3;
    &:first-child{
      border-left: none;
    }
    }
  }
}

.customer-info-panel{
  margin:-11px 0 0 10px;
  span{
    display: block;
    color: $color-34a6fc;
    font-size: 2.5em;
    margin-bottom: -5px;
  }
  label{
    margin-bottom: 0;
    font: 0.7em 'cs_regular';
    color: $color-999;
    text-transform: uppercase
  }
}
.nav-master-panel {
  &.nav-tabs {
    border-bottom: 0;
    li {
      &.active{
        a{
          color: $color-999;
          background: $color-f1f1f1;
          border: 0;
          &:hover{
            background: $color-f1f1f1;
            border: 0;
            color: $color-primary-blue;
          }
        }
      }
      a {
        font-size: 1.143em;
        color: $color-999;
        text-transform: uppercase;
        line-height: 39px;
        &:hover{
          background: $color-f1f1f1;
          color: $color-primary-blue;
        }
      }
    }
  }
}

.add-customer-btn{
    float: left;
    border: 0 !important;
    font: 1.82em 'cs_regular'!important;
    color: $color-34a6fc !important;
      .glyphicon{
        display: block;
      }
  label{
    font: 0.4em 'cs_regular';
    line-height: 1;
    display: block;
    margin-top: 10px;
    color: $color-999;
    text-transform: uppercase;
  }
}

.custom-list{
    list-style-type:none;
    padding-left: 0px;
   li{
    display: flex;
    align-items: center;
     .customer-placeholder {
       &.icon-cs-user{
       font-size: 2.857em;
       color: $color-009966;
       width: 40px;
       height: 40px;
       margin-right: 25px;
       vertical-align: middle;
       }
     }
    .customer-name-heading{
      font-size: 1.5em;
      color:$color-666;
      vertical-align: middle;
     }
    .customer-phone-heading{
      font-size: 1.1em;
      margin-left: 15px;
      vertical-align: middle;
      color: $color-999;
    }
    .offline-device-status{
      font-size: 1.1em;
      margin-left: 15px;
      color: $color-ff6600 !important;
      vertical-align: middle;
    }
  }
}


.device-list-ctrls{
  padding: 10px 0px 0px 0px;
  .glyphicon{
    display: block;
    font-size: 1.786em;
    color: $color-ccc;
    width: 50px;
    height: 50px;
    &.glyphicon-pencil{
      color: $color-34a6fc;
    }
  }

  label{
    text-transform: uppercase;
    color: $color-999;
    font: 0.714em 'cs_light';

  }
}
.grouping-list {
  background: $color-f7f7f7;
  border-bottom: 1px solid $color-eaeaea;
  line-height: 30px;
  .grouping-label {
    margin-left: 25px;
  }
}


/* customer device list style */
.editable {
  label {
    display: block;
    text-transform: uppercase;

  }
  span{
    color: #666666;
    font-size: 1.4em;
  }
  .glyphicon{
    font-size: 1.65em;
  }
}
.location-dropdown{
  cursor: pointer;
  label{
    display: block;
  }
  span{
    color: #666666;
    font-size: 1.4em;
  }
  .glyphicon{
    font-size: 1.78em;
    top:10px;
      &.glyphicon-menu-down{
        color: $color-ccc;
        margin-left: 15px;
      }
  }
}
.pro-info-panel{
  .glyphicon-book{
    display: block;
  }
  .pro-badge {
    padding: 5px 10px !important;
    background-color: #009966 !important;
    border-radius: 6px;
    font: 1.14em 'cs_regular' !important;
    color: #ffffff !important;
    text-transform: uppercase;
    border: 0;
    cursor: default;
  }
}
.device-status-filter{
  height: 42px;
  margin-top: 11px;
  float: right;
  button {
    font: 0.857em 'cs_medium' !important;
    color: $color-999;
    text-transform: uppercase;
    border: 0;
    background-color: $color-f1f1f1;
    padding: 13px 15px !important;
    &:not(:last-child) {
      margin-right: 5px;
    }
    &:hover{
      background-color: $color-f1f1f1;
      color: $color-999;
    }
    &:focus, &:active {
      background-color: $color-ccc;
      color: $color-fff;
      box-shadow: none;
    }
  }
}
.customer-device-list-header{
  display: flex;
  align-items: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: $color-f7f7f7;
  width:100%;
  label{
    text-transform: uppercase;
    font: 0.714em 'cs_regular';
    margin: 0;
    padding: 3px 0;
    color:$color-999;
    &.active{
      color: $color-34a6fc;
    }
  }
  .glyphicon{
    font-size: 0.9em;
    padding: 7px 5px;
    vertical-align: middle;
    color: $color-ccc;
    &.active{
      color: $color-34a6fc;
    }
  }

}
.customer-device-list {
  display: flex;
  align-items: center;
  ul {
    width: 100%;
    list-style: none;
    padding: 0;
    li {
      display: flex;
      cursor: pointer;
      align-items: center;
      border-top: 1px solid $color-ccc;
      height: 60px;
      &.offline-device {
        .device-icon {
          color: $color-cecece;
        }
        .list-item-name, .list-item-info {
          font-style: italic;
          color: $color-cecece;
        }

      }
      &.online-device {
        .device-icon {
          color: $color-34a6fc;
        }
        .list-item-name {
          color: $color-666;
        }
        .list-action-items {
          .glyphicon {
            color: $color-34a6fc;
          }
        }
      }
      .device-icon {
        font-size: 2.2em;
      }
      .list-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 10px;
        font-size: 1.286em;
        color: $color-999;
      }
      .list-item-info {
        font: 1em 'cs_regular';
        color: $color-9a9a9a;

      }
      .list-action-items {
        display: flex;
        .glyphicon {
          font-size: 2em;
        }
      }
      .list-action-message {
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        font-style: italic;
      }
      .more-info-arrow {
        display: flex;
        justify-content: center;
        align-self: stretch;
        align-items: center;
        .glyphicon {
          font-size: 1.071em;
          color: $color-eaeaea;
        }
      }
      &:hover {
        background-color: $color-e5fcff;
        .more-info-arrow {
          background-color: $color-d9f2ff;
          .glyphicon {
            color: $color-34a6fc;
          }
        }
      }
    }
  }
}
.tooltip-wrapper{
  .glyphicon-info-sign{
    font-size: 1.5em;
    color: $color-ff6600;
  }
}
.list-action-panel{
  .glyphicon-search{
    top:30px;
    left:10px;
  }
  .form-control {
    padding: 8px 34px !important;
    height: 42px;
    margin-top:-8;

  }
}


.modal-dialog{
  width: 740px;
  .modal-content{
    border-radius: 20px;
    .modal-body{
      min-height: 300px;
      max-height: 400px;
      overflow: hidden;
      overflow-y: auto;
      background-color: #f1f1f1;
      padding: 20px;
    }
  }
}
.speed-test-history-wrapper{
  margin-top:20px;
  .sub-title-style{
    font: 1.5em 'cs_light';
    margin-bottom: 10px;
    color:$color-666;
  }
  .btn-toolbar{
    background-color: #999999;
    padding: 7px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
     .btn-group{
       float: right;
     }
  }
  .btn-custom-btn-primary{
    .icon-cs-arrow-left{
      margin-right: 8px;
    }
    .icon-cs-arrow-right{
      margin-left: 8px;
    }
  }

}

