/* --------------------------------------------------
 Embedding fonts
 ---------------------------------------------------*/
@font-face{
  font-weight: normal;
  font-style: normal;
}
/* Roboto fonts */

@font-face {
  font-family: 'cs_bold';
  src: url('#{$fontsUrl}/Roboto-Bold.eot');
  src: url('#{$fontsUrl}/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Bold.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Bold.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Bold.svg#cs_bold') format('svg');
}

@font-face {
  font-family: 'cs_light';
  src: url('#{$fontsUrl}/Roboto-Light.eot');
  src: url('#{$fontsUrl}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Light.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Light.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Light.svg#cs_light') format('svg');
}

@font-face {
  font-family: 'cs_medium';
  src: url('#{$fontsUrl}/Roboto-Medium.eot');
  src: url('#{$fontsUrl}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Medium.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Medium.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Medium.svg#cs_medium') format('svg');
}

@font-face {
  font-family: 'cs_regular';
  src: url('#{$fontsUrl}/Roboto-Regular.eot');
  src: url('#{$fontsUrl}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Regular.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Regular.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Regular.svg#cs_regular') format('svg');
}

@font-face {
  font-family: 'cs_semibold';
  src: url('#{$fontsUrl}/Roboto-Black.eot');
  src: url('#{$fontsUrl}/Roboto-Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Black.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Black.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Black.svg#cs_semibold') format('svg');
}
@font-face {
  font-family: 'cs_light_italic';
  src: url('#{$fontsUrl}/Roboto-Light-Italic.eot');
  src: url('#{$fontsUrl}/Roboto-Light-Italic.eot?#iefix') format('embedded-opentype'),
  url('#{$fontsUrl}/Roboto-Light-Italic.woff') format('woff'),
  url('#{$fontsUrl}/Roboto-Light-Italic.ttf') format('truetype'),
  url('#{$fontsUrl}/Roboto-Light-Italic.svg#cs_light_italic') format('svg');
}

/* icon fonts */
@font-face {
  font-family: 'icomoon';
  src: url('#{$icon-custom-font-path}/#{$icon-custom-font-name}.eot');
  src: url('#{$icon-custom-font-path}/#{$icon-custom-font-name}.eot?#iefix') format('embedded-opentype'),
  url('#{$icon-custom-font-path}/#{$icon-custom-font-name}.woff') format('woff'),
  url('#{$icon-custom-font-path}/#{$icon-custom-font-name}.ttf') format('truetype'),
  url('#{$icon-custom-font-path}/#{$icon-custom-font-name}.svg##{$icon-custom-font-svg-id}') format('svg');
}
