
/*----------------------------------------------
 Icon Fonts
 ---------------------------------------------*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cs-add                                   { &:before { content: "\e900"; } }
.icon-cs-device-cloud                          { &:before { content: "\e901"; } }
.icon-cs-feedback                              { &:before { content: "\e902"; } }
.icon-cs-location                              { &:before { content: "\e903"; } }
.icon-cs-notification                          { &:before { content: "\e904"; } }
.icon-cs-popup-alert                           { &:before { content: "\e905"; } }
.icon-cs-user                                  { &:before { content: "\e906"; } }
.icon-cs-loading                               { &:before { content: "\e907"; } }
.icon-cs-dropdown-arrow                        { &:before { content: "\e908"; } }
.icon-cs-arrow-up                              { &:before { content: "\e909"; } }
.icon-cs-arrow-right                           { &:before { content: "\e90a"; } }
.icon-cs-arrow-left                            { &:before { content: "\e90b"; } }
