/* HTML5 Boilerplate accessible hidden styles */
[type="radio"], [type="checkbox"] {
  clip: rect(0 0 0 0);
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: bottom;
  border-radius: 15px;
  box-shadow: 0 0 0 1px rgba(210, 210, 210, 1);
  margin-right: 15px;
}

[type="checkbox"] + span:before {
  content: '';
  display: inline-block;
  box-shadow: 0 0 1px rgba(210, 210, 210, 0.7);
  border-radius: 6px;
  background: $color-fff;
  min-width: 30px;
  min-height: 30px;
  padding: 0px;
  border: 1px solid $color-ccc;
  font-size: 20px;
  margin-right: 15px;
  vertical-align:middle;
}

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: $color-34a6fc;
  border: 4px solid $color-fff;
}

[type="checkbox"]:checked + span:before {
  font-size: 20px;
  color: $color-34a6fc;
  text-align: center;
  content: "\2713";
}
/* disabled style for checkbox */
.checkbox{
  &.disabled {
    [type="checkbox"] + span:before{
      pointer-events: none;
      opacity: 0.50;
      background: $color-e5e5e5;
    }
    [type="checkbox"]:checked + span:before{
      color: $color-34a6fc;
    }
    label{
      pointer-events:none;
    }
  }
}
/* disabled style for radio button */
.radio{
  &.disabled {
    [type="radio"] + span:before {
      opacity: 0.25;
      cursor: default;
      background: $color-e5e5e5;
    }
    [type="radio"]:checked + span:before{
      background: $color-34a6fc;
    }
    label{
      pointer-events:none;
    }
  }
}