
.navbar-inverse{
  background: $navbar-inverse-bg;
  border: $navbar-inverse-border;
  border-radius: $navbar-border-radius;
  .navbar-nav {
    > li > a {
      color:$color-999;
      padding: 20px 15px;
      &:hover,
      &:focus {
        color: $color-primary-blue;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color:$color-999;
        background: transparent;
      }
      &:after{
        content:'';
        display:block;
        width:0;
        height:0;
        position:absolute;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $color-e5e5e5;
        right: 35%;
        bottom: -5px;
      }
    }
    > .open > a{
      background: $navbar-inverse-bg;
      color:$color-999;
      &:hover,
      &:focus {
        background: transparent;
        color: $color-primary-blue;
      }
    }
    .badge{
      background-color: $color-ff6600;
      height: 25px;
      min-width: 25px;
      font: 0.714em 'cs_regular';
      padding: 7px 3px;
      position: relative;
      top: -13px;
      left: -3px;
      line-height: 11px;
      border-radius: 1000px;
    }
  }
  .navbar-toggle{
    background: $color-primary-blue;
    border: transparent;
    &:hover, &:focus{
      background: $color-34a6fc;
    }
  }
}

.navbar{
  margin-bottom: 0;
  .container{
    width: 100%;
  }
  .headerlogo img {
    width: 62px;
  }
  [role="button"]{
    i{
      @extend .grey;
      font-size: 1.2em;
    }
  }
}
.navbar-nav li{text-transform: uppercase}
.dropdown-menu li{text-transform: lowercase}