
/*
 * Typography
 * ========================================================================== */
$font-family-base :     'cs_regular';
/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px;

$assetPath : "../images";

/*Path Variables*/
$fontsUrl:  "../fonts/roboto";  /* roboto fonts path */

/*custom fonts*/
$icon-custom-font-path:          "../fonts/icomoon" !default; /*custom icon fonts path*/
$icon-custom-font-name:          "icomoon" !default; /*File name for all font files.*/
$icon-custom-font-svg-id:        "icomoon" !default; /*Element ID within SVG icon file.*/
